<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">📕Recipe Collection</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h2 class="center-align">Edit Recipe</h2>
        <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" class="col s12">
            <!-- Title field -->
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="title" id="title" value="<%= recipe.title %>" required>
                    <label for="title">Title</label>
                </div>
            </div>

            <!-- Category field -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="category" id="category" required>
                        <option value="breakfast" <%= recipe.category === 'breakfast' ? 'selected' : '' %>>Breakfast</option>
                        <option value="lunch" <%= recipe.category === 'lunch' ? 'selected' : '' %>>Lunch</option>
                        <option value="dinner" <%= recipe.category === 'dinner' ? 'selected' : '' %>>Dinner</option>
                        <option value="supper" <%= recipe.category === 'supper' ? 'selected' : '' %>>Supper</option>
                        <option value="dessert" <%= recipe.category === 'dessert' ? 'selected' : '' %>>Dessert</option>
                        <option value="snack" <%= recipe.category === 'snack' ? 'selected' : '' %>>Snack</option>
                    </select>
                    <label for="category">Category</label>
                </div>
            </div>

            <!-- Ingredients field -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="ingredients" id="ingredients" class="materialize-textarea" required>
                        <%= recipe.ingredients.map(ing => ing.name).join(', ') %>
                    </textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

            <!-- Readonly Created By field -->
            <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="createdBy" id="createdBy" value="<%= recipe.createdBy.username %>">
                  <label for="createdBy">Created By:</label>
                </div>
            </div>

            <!-- Update Button -->
            <div class="row center-align">
                <button type="submit" class="btn waves-effect waves-light teal">Update Recipe</button>
            </div>
        </form>
    </div>
</body>
</html>
