<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>

<body>
    <nav>
        <div class="nav-wrapper teal">
            <a href="/" class="brand-logo center">Home</a>
        </div>
    </nav>
    <div class="container">
        <h1 class="center-align">Recipes List</h1>
        <ul class="collection">
            <% recipes.forEach(recipe => { %>
            <li class="collection-item">
                <a href="/recipes/<%= recipe._id %>">
                    <strong><%= recipe.title %></strong> - <%= recipe.category %> -
                    Ingredients: <%= recipe.ingredients.map(ing => ing.name).join(', ') %> -
                    Created by: <%= recipe.createdBy && recipe.createdBy.username ? recipe.createdBy.username : 'Unknown' %>
                </a>
                

                <div class="recipe-container">
                    <span class="created-by">
                        Created by: <strong>
                            <%= recipe.createdBy ? recipe.createdBy.username : 'Unknown' %>
                        </strong>
                    </span>
                    <span class="created-by">
                        <%= recipe.formattedDate ? recipe.formattedDate : 'Date not available' %>
                    </span>
                </div>

                <!-- Comments Section -->
                <% recipe.comments.forEach(comment => { %>
                <p class="comment">
                    <% if (comment.createdBy) { %>
                        <%= comment.createdBy.username || "Guest" %>
                    <% } %>:
                    <%= comment.content %>
                </p>
                <% }) %>

                <!-- Add Comment Form (FIXED) -->
                <form action="/recipes/<%= recipe._id %>/comments" method="POST">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">comment</i>
                                    <textarea name="content" id="icon_prefix2"
                                        class="tiny materialize-textarea"></textarea>
                                    <input class="comment-input" type="submit" value="Comment">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </li>
            <% }); %>
        </ul>

        <div class="center-align">
            <a href="/recipes/new" class="btn waves-effect waves-light teal">Add a New Recipe</a>
        </div>
    </div>
</body>

</html>
